body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/bg3.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
    color: white;
}

input::placeholder {
    color: #fff;
}

input:focus,
.submit:hover {
    background: #fff;
    color: #000;
}

input:focus::placeholder {
    color: #000;
}

h1 {

    /* opacity: 0; */
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;

}

/* .form{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: 'roboto', sans-serif;
} */
input,
.submit {
    opacity: 0;
    width: 80%;
    height: 10px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 10px;
    transition: .5s;
    text-transform: capitalize;

}

.submit {
    width: auto;
    padding-top: 10px;
    padding-bottom: 23px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    cursor: pointer;
    margin: 50px auto 50px;
    opacity: 0;
}

.link {
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto;
}

.link:hover {
    color: #fff;
}
